<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/scripts.js"></script>
</head>

<body>
    <div class="main-content">
        {{> header }}
        <img class="potrait" src="/img/me.jpeg" alt="me">
        <p>This site was created by Emmanuel Robinson. It usees data from mapbox.com and weatherstack.com!</p>
    </div>
    {{> footer }}
</body>

</html>